fastapi
uvicorn[standard]

pydantic
pydantic-settings
python-dotenv

sqlalchemy
asyncpg
alembic

python-multipart

python-jose[cryptography]
passlib[bcrypt]

redis
celery

qdrant-client

langchain
langchain-openai
langgraph

pypdf
python-docx
